@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    min-width: 50px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

h2 {
  	color: crimson;
	font-size: 25px;
	letter-spacing: 4px;
	font-family: Raleway, sans-serif;
	text-align:center;
	font-weight: bold;
}

h3 {
	letter-spacing: 2px;
	font-size: 14px;
}

body {
	float: center;
	font-family: Avenir, sans-serif; color: #3D413D;
	font-size: 14px;
	text-align: justify;
	background-image:url(images/wall3.jpg);
}

a {
  color: #FFBF00;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: crimson;
  text-decoration: none;
}

/*Logos Entreprise*/
li {
	display: inline;
	list-style: none;
	margin: 8px;
}

.card1, .card2, .card3, .card4{
	margin-left: auto;
	margin-right: auto;
	width: 750px;
  	text-align: center;
  	float: center;
  	background-color: #fbf9f4;
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-top: 15px;
  	padding-bottom: 25px;
  	border-top: 7px solid chocolate;
  	margin-bottom: 15px;
}

.mot-cle {
	font-size: 15px;
	color: sandybrown;
	font-weight: bold;
}

/* Sous-catégorie dans la partie Expériences */
.communication {
	float: left;
	clear:both;
	width: 40%;
	text-align: justify;
	margin-left: 2.5%;
	background-color: white;
}

.marketing {
	width: 40%;
	margin-left: 51%;
	text-align: justify;
	background-color: white;
}

/* Cases blanche dans les catégories */
.photo-texte, .voyage-texte, .graphisme-texte, .marketing, .communication{
	padding-right: 25px;
	padding-left:25px;
	padding-bottom: 21px;
	padding-top: 3px;
	text-align: justify;
	background-color: white;
	margin-bottom: 15px;
}

/* Catégorie Hobbies */
.competences {
	font-size: 17px;
	letter-spacing: 2px;
}

.photo-texte {
	width: 40%;
	margin-left: 10%;
}

.photoNY {
	float: right;
	clear:both;
	margin-right: 9%;
	border: #FFBF00 solid 2px;
}

.seychelles{
	float: left;
	clear:both;
	margin-left: 10%;
	border: #FFBF00 solid 2px;
}

.voyage-texte {
	width: 40.5%;
	margin-left: 44%;
}

.graphisme-texte {
	width: 74.5%;
	margin-left:10%;
}

.affiche1, .affiche2, .affiche3 {
	margin: 10px;
	border: #FFBF00 solid 2px;
}

.fa-linkedin, .fa-twitter, .fa-instagram {
	font-size: 30px;
}

.fa-pen-nib, .fa-camera-retro, .fa-plane, .fa-video, .fa-tv {
	color: #FFBF00;
	font-size: 17px;
}

#titre {
	font-family:Raleway, sans-serif;
	color:crimson;
	font-size:30px;
	letter-spacing: 2px;
	text-align: center;
}

/* Premières lignes d'introduction */
#main{
	font-family: Avenir, sans-serif;
	font-size: 15px;
	position: center;
}

#bouton{
	background-color: #FFBF00;
	color:white;
	padding: 9px;
	margin-top: 40px;
	font-family: Avenir, sans-serif;
	margin-bottom: 10px;
}